
body {
    background-color: grey;
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-attachment: fixed;
  	background-size: cover;

}

h1 {
    color: orange;
    text-align: center;
    font-size: 42pt;
    font-family: Comic Sans MS;
    margin: 10px;
    -webkit-animation-name: TicTacToe; 
    -webkit-animation-duration: 6s; 
    animation-name: TicTacToe;
    animation-iteration-count: infinite;
}
@-webkit-keyframes TicTacToe {
    0%   {color:orange; left:0px; top:0px;}
    50%  {color:white; left:200px; top:0px;}
    100%  {color:orange; left:200px; top:200px;}
    }

table {
  margin: auto;

}
td {
  border: 2px solid orange;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 60pt;
  font-family: Comic Sans MS;
  color: white;
   -webkit-animation-name: boxes; 
   -webkit-animation-duration: 6s; 
   animation-name: boxes;
   animation-iteration-count: infinite;
}

@-webkit-keyframes boxes {
    0%   {border: solid orange; left:0px; top:0px;}
    50%  {border: solid white; left:200px; top:0px;}
    100%  {border: solid orange; left:200px; top:200px;}
    }

button {
	margin: 10px;
    color: orange;
    border: 2px solid white;
    height: 50px;
    width: 130px;
    font-family: Comic Sans MS;
    font-size: 14pt;
    background-color: transparent;

}

button:hover {
    background-color: orange;
    color: black;

}
.button {
	text-align: center;
}
.X {
  color: #11E57E;
} 

.O {
  color: #08AFE3;
}
.clearbackground {
	background: none;
}